<p id="notice"><%= notice %></p>

<p>
  <b>Cost:</b>
  <%= @item.cost.format %>
</p>

<p>
  <b>Selling Price:</b>
  <%= @item.selling_price.format %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
