<!DOCTYPE html>
<html>
<head>
  <title>MiddleShelf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<style type="text/css"><%= yield :stylesheets %></style>
</head>
<body>
  <header>
    <%= link_to "Today's Invoices", todays_invoices_path %>
  </header>
	<div id="middleshelf_main_content">
    <%= yield %>
  </div>
</body>
</html>
